html {
    font-size: 62.5%;
}

body {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    width: 100vw;
    background-color: hsl(30, 38%, 92%);
}

.card {
    background-color: hsl(0, 0%, 100%);
}